.header-container {
  display: flex;
  background-color: #f55a5a;
  color: #ffffff;
  height: 55px;
  text-align: center;
  justify-content: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.075em;
  align-items: center;
}

.header-container > h1 > img {
  padding-right: 8px;
  vertical-align: middle;
}
